@define-color fg #ffffff;
@define-color bg #000000;
@define-color focused #506478;
@define-color urgent #c85050;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    font-size: 16px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: none;
    transition: none;
}

#workspaces button {
    padding: 0 5px;
    color: @fg;
}

#workspaces button.focused {
    background-color: @focused;
}

#workspaces button.urgent {
    background-color: @urgent;
}

#mode {
    background-color: @focused;
    padding: 0 5px 0 5px;
}

#clock,
#battery,
#pulseaudio {
    padding: 0 10px;
    color: @fg;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.critical,
#pulseaudio.muted {
    background-color: @urgent;
}
