@define-color fg #ffffff;
@define-color bg #28323c;
@define-color bg_focused #647882;
@define-color bg_button_hover #000000;
@define-color border_bar #647882;
@define-color shadow #ffffff;
@define-color module1 #46c8ff;
@define-color module2 #ffe63c;
@define-color module3 #46ff46;
@define-color urgent #dc5a5a;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    font-size: 16px;
}

window#waybar {
    background-color: @bg;
    border-bottom: 3px solid @border_bar;
    color: @fg;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @shadow;
    transition: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg;
}

#workspaces button:hover {
    background: @bg_button_hover;
}

#workspaces button.focused {
    background-color: @bg_focused;
    box-shadow: inset 0 -3px @shadow;
}

#workspaces button.urgent {
    background-color: @urgent;
}

#mode {
    background-color: @bg_focused;
    box-shadow: inset 0 -3px @shadow;
    padding: 0 5px 0 5px;
}

#clock,
#battery,
#pulseaudio {
    padding: 0 10px;
    color: @fg;
    margin-bottom: 3px;
    margin-left: 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    border-bottom: 4px solid @module3;
}

#clock {
    border-bottom: 4px solid @module1;
}

#pulseaudio {
    border-bottom: 4px solid @module2;
}

#battery.critical,
#pulseaudio.muted {
    border-bottom: 4px solid @urgent
}
