@define-color fg #ffffff;
@define-color bg #000000;
@define-color selected #646464;

* {
    font-family: monospace;
    font-size: 16px;
}

window {
    background-color: @bg;
}

#input {
    margin: 5px;
    border: none;
    color: @fg;
    background-color: @bg;
}

#inner-box, #outer-box {
    margin: 5px;
    border: none;
    background-color: @bg;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    border: none;
    color: @fg;
}

#entry arrow {
    color: @fg;
}

#entry:selected {
    background-color: @selected;
}
