* {
    font-family: monospace;
    font-size: 16px;
}

window {
    background-color: #28323c;
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    background-color: #28323c;
}

#inner-box, #outer-box {
    margin: 5px;
    border: none;
    background-color: #28323c;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry:selected {
    background-color: #647882;
}
